<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    输入：<input type="text" v-model="message"/>{{message}}
    单选：<input type="radio" name="dx" value="1" v-model="dx"> 1
    <input type="radio" name="dx" value="2" v-model="dx"> 2
    <p>{{dx}}</p>
</div>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script>
    var vm = new Vue({
            el: "#app",
            data: {
                dx: "ddddd"
            }

        })
    ;
</script>

</body>
</html>